
.bgimg {
    background-image: url(/assets/pexels-adelaido-bautista-20521093.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
  }
  
  .gradient-text {
    background: linear-gradient(45deg, #ff0000, #3503ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.icons{
  font-size: 20px;
  animation: anima 1s infinite ease-in-out; 
}

@keyframes anima {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(10px);
  }
}


  