<div class="bgimg">
  <div class="middle text-[white] text-center">
    <h1 class="font-black text-[60px] gradient-text">
      {{ "WELCOME" | uppercase }}
    </h1>
    <h1 class="font-bold text-[40px] text-[#fe4c4c]">To</h1>
    <h1 class="font-black text-[60px] gradient-text">atDrive</h1>
    <hr />
  </div>
  <div class="bottomleft text-[white] absolute bottom-[40px]">
    <button
      class="py-2 px-4 bg-[orangered] border-2 font-bold rounded"
      (click)="gotousers()"
    >
      Go To Users <i class="icons fa-solid fa-arrow-right pl-4"></i>
    </button>
  </div>
</div>
